@import 'src/style/color.scss';
@import 'src/style/sizes.scss';

.chat-page {
  display: flex;
  height: calc(100vh - $navbar_height);
  justify-content: center;
  align-items: center;

  &__container {
    border: 1px solid $c_white_color;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 5px 5px $c_blue_theme_soft;
  }
}