@import 'src/style/color.scss';
@import 'src/style/sizes.scss';

.messages {
  background-color: $c_gray_light;
  padding: $size_md $size_2xs $size_2xs $size_2xs;
  height: calc(100% - 100px);
  overflow: scroll;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat__instructions {
  background-color: $c_gray_light;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c_gray_soft;
  font-size: $size_md;
}