@import 'src/style/color.scss';
@import 'src/style/sizes.scss';

.messages {
  background-color: $c_gray_light;
  padding: $size_md $size_2xs $size_2xs $size_2xs;
  height: calc(100% - 100px);
  overflow: scroll;
  position: relative;

  &__date {
    text-align: center;
    margin-bottom: $size_xs;

    span {
      background-color: $c_background;
      padding: $size_3xs $size_2xs;
      border-radius: $size_xs;
      font-size: $size_xs;
      color: $c_white_color;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.chat__instructions {
  background-color: $c_gray_light;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c_gray_soft;
  font-size: $size_md;
}