@import 'src/style/color.scss';
@import 'src/style/sizes.scss';

.header-cell {
  min-height: 24;
	min-width: 120px;
	background-color: #27282A;
	color: #DDDDDD;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: 'flex-start';
    padding-right: 8px;
  }
}