@import 'src/style/color.scss';

.calendar-cell {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  color: $c_white_color;

  &__container {
    min-height: 94px;
    min-width: 120px;
    background-color: $c_blue_theme_dense;
  }
}