@import 'src/style/color.scss';
@import 'src/style/sizes.scss';

.monitor {
  display: flex;
  justify-content: space-between;
  background-color: $c_blue_theme_dense;
  color: $c_white_color;
  padding: $size_sm;
  position: relative;
  align-items: center;
  margin-bottom: 1px;

  button {
    background-color: $c_blue_theme_soft;
    border: none;
    box-shadow: 1px 1px 0px $c_background;
    border-radius: 4px;
    color: $c_white_color;
    cursor:pointer;
    padding: 0 $size_2xs;
    line-height: $size_md;

    &:not(:last-child){
      margin-right: $size_3xs;
    }

    &:active {
      transform: translateY(1px);
      transition: all 0.15s;
    }
  }

  &__display {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
  
  }

  &__date{
    font-size: 32px;  
  }

  &__month {
    font-weight: bold;
  }

  &__year {
    margin-right: $size_2xs;
    margin-left: $size_2xs;
  }

  &__swither {
    button:last-child,
    button:first-child {
      padding: 0 $size_2xs;
    }
  }
}