$c_white_color: #DCDDDD;

$c_primary_color: #1E1F21;

$c_gray_soft: #7c7676;
$c_gray_medium: #cabcbc;
$c_gray_light: #e0dcdc;

$c_theme_soft: #565759;
$c_theme_medium: #4d4c4d;
$c_theme_dense: #2a2b2d;
$c_theme_deep: #1E1F21;

$c_dark_color: #2e2e2e;

$c_red_color: #e90404