$c_background: #a7bcff;

$c_white_color: #f7f0f0;

$c_primary_color: #7191fd;

$c_gray_soft: #7c7676;
$c_gray_medium: #cabcbc;
$c_gray_light: #e0dcdc;

$c_blue_theme_soft: #7895f5;
$c_blue_theme_medium: #4f6ac2;
$c_blue_theme_dense: #304381;
$c_blue_theme_deep: #1c2c5f;