$base: 4px;

$size_3xs: $base; // 4px
$size_2xs: 2 * $base; // 8px
$size_xs: 3 * $base; // 12px
$size_sm: 4 * $base; // 16px
$size_m: 5 * $base; // 20px
$size_md: 6 * $base; // 24px
$size_lg: 8 * $base; // 32px
$size_xl: 10 * $base; // 40px
$size_2xl: 12 * $base; // 48px
$size_3xl: 14 * $base; // 56px
$size_4xl: 16 * $base; // 64px
$size_5xl: 22 * $base; // 88px
